* {box-sizing: border-box; padding: 0; margin: 0; -webkit-tap-highlight-color: transparent;}
:root { --background-rgb: 0 0 0; --blue-rgb: 0 0 0; --primary-rgb: 50 50 50; }
body, html { width: 100vw;  height: auto;min-height: 100vh;overflow-x: hidden;overflow-y: auto; margin: 0; font-family:'LEMONMILK-Regular','Roboto',sans-serif; /*transform-style: preserve-3d;*/ background-color: #000; }
/* Noise Background Animation 
body::before { content: ''; position: fixed; top: -100%; left: -50%; width: 300%; height: 300%; background-image: url(./assets/noiseII.png); opacity: 1; animation: grain 3s steps(10) infinite; }
@keyframes grain { 0%, 100% { transform: translate(0, 0); } 10% { transform: translate(-5%, -10%); } 20% { transform: translate(-15%, 5%); } 30% { transform: translate(7%, -25%); } 40% { transform: translate(-5%, 25%); } 50% { transform: translate(-15%, 10%); } 60% { transform: translate(15%, 0%); } 70% { transform: translate(0%, 15%); } 80% { transform: translate(3%, 35%); } 90% { transform: translate(-10%, 10%); } }
*/
#grid-bg { position: fixed;top: 0;left: 0;width: 100%;height: 100vh; /*inset: 0;*/ z-index: 0; pointer-events: none; }
.fade-sides { -webkit-mask-image: linear-gradient( to right, transparent 0%, black 15%, black 85%, transparent 100% ); mask-image: linear-gradient( to right, transparent 0%, black 15%, black 85%, transparent 100% ); }
.max-txt {position: absolute;top: 0;left: 0;pointer-events: none;}

.noise-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;
}
.noise-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* ========== LANDING PAGE ========== */
.LP {position: relative;width: 100vw;height: 100vh;overflow: hidden !important; display: flex; align-items: center; justify-content: center;}
/* ========== SCREEN VIW ANIMATIONS ========== */
.screen-view { position: fixed;top:50%;left:50%;transform:translate(-50%, -50%); z-index: 11; aspect-ratio: 4/2; width: 46%; height: auto; background-color: #000; border: 2px solid white;padding: 5px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; cursor: pointer; }
.screen-view { transform-style: preserve-3d; backface-visibility: hidden; filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 10px #fff); will-change: transform; }
.screen-video/*, .marqueecontainer*/ { transform: translateZ(20px); transform-style: preserve-3d; }
.screen-video { pointer-events: none; }
.screen-view:hover ~ .marquee-trial {transform: translateY(0em) rotate(-20deg);}
.screen-view:hover ~ .marquee-trial-II {transform: translateY(0em) rotate(-20deg);}
.screen-video {width: 100%;}
#screen-video-wrapper {width: 100%; height: 100%; object-fit: cover;}
@media (max-width: 1000px) { .screen-view{aspect-ratio: 3/4; width: 66%;} .screen-video {height: 100%;width: auto;} #screen-video-wrapper {height: 100%; object-fit: cover;}}

.screen-bg { position: fixed;top: 50%;left:50%;transform:translate(-50%, -50%); width: 46%;  aspect-ratio: 4/2; border: 2px solid #fff; filter: drop-shadow(0px 0px 5px #fff); background: transparent; backdrop-filter: blur(20px); z-index: 10;  pointer-events: none; transform-style: preserve-3d; }
@media (max-width: 1000px) { .screen-bg { aspect-ratio: 3/4; width: 66%; } }


/* ========== SQUARED MARQUEE ========== */
.marquee-wrapper { position: absolute;top:50%;left:50%;transform:translate(-50%, -50%); z-index: 10; width: 80%; max-width: 2000px; margin: auto; background: transparent; transition: opacity .3s ease-out;}
svg { width: 100%; height: auto; display: block; filter: drop-shadow(0px 0px 10px #fff); }
/*.dsmsvg {display: none;} .msmsvg {display: none;}*/
.marquee-path {pointer-events: none;user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
/* Toggle visibility */
.mobile-only { display: none; }
.desktop-only { display: block; }
@media (max-width: 768px) { .desktop-only { display: none; } .mobile-only { display: block; width: 95%; } }
.screen-view:hover ~ .marquee-wrapper {opacity: 0;}

/* ========== HUGE MARQUEES ========== */
.marquee-trial { position: fixed; bottom: 0%; width: 150%; margin: 0 auto; padding: 0.2em 0; white-space: nowrap; overflow: hidden; z-index: 0; background: transparent; display: flex; align-items: center; opacity: 1; transform: translateY(50em) rotate(-20deg); transition: transform .5s ease-out; }
.marquee-trial-content { display: inline-block; white-space: nowrap; animation: marqueeAnim 100s linear infinite; }
.marquee-trial-content span { font-family: 'American', 'Morbid', 'LEMONMILK-Regular', 'Roboto', sans-serif; text-transform: uppercase; font-weight: 300; color: #fff; font-size: 40em; display: inline-block; padding-right: 2rem; text-shadow: 0 0 0.15em #fff; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;} 
.marquee-trial-II { position: fixed; top: 0%; width: 150%; margin: 0 auto; padding: 0.2em 0; white-space: nowrap; overflow: hidden; z-index: 0; background: transparent; display: flex; align-items: center; opacity: 1; transform: translateY(-50em) rotate(-20deg); transition: transform .5s ease-out;}
.marquee-trial-content-II { display: inline-block; white-space: nowrap; animation: marqueeAnimII 100s linear infinite; }
.marquee-trial-content-II span { font-family: 'American', 'Morbid', 'LEMONMILK-Regular', 'Roboto', sans-serif; text-transform: uppercase; font-weight: 300; color: #fff; font-size: 40em; display: inline-block; padding-right: 2rem; text-shadow: 0 0 0.15em #fff; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;}
/* === MARQUEE MOVEMENT === */
@keyframes marqueeAnim { 0% { transform: translateX(0%); } 100% { transform: translateX(-50%); } }
@keyframes marqueeAnimII { 0% { transform: translateX(-50%); } 100% { transform: translateX(0%); } }

/* === Responsive Scaling === */
@media (max-width: 2000px) { .marquee-trial {transform: translateY(30em) rotate(-20deg);} .marquee-trial-II {transform: translateY(-30em) rotate(-20deg);} .marquee-trial-content span { font-size: 26em; } .marquee-trial-content-II span { font-size: 26em; } .screen-view:hover ~ .marquee-trial {transform: translateY(-1em) rotate(-20deg);} .screen-view:hover ~ .marquee-trial-II {transform: translateY(1em) rotate(-20deg);} .morph-text { font-size: 5rem; } }
@media (max-width: 1300px) { .marquee-trial {transform: translateY(15em) rotate(-20deg);} .marquee-trial-II {transform: translateY(-10em) rotate(-20deg);} .marquee-trial-content span { font-size: 20em; text-shadow: 0 0 0.05em #fff;} .marquee-trial-content-II span { font-size: 20em; text-shadow: 0 0 0.05em #fff;} .screen-view:hover ~ .marquee-trial {transform: translateY(-0em) rotate(-20deg);} .screen-view:hover ~ .marquee-trial-II {transform: translateY(0em) rotate(-20deg);} }
@media (max-width: 800px) { .skullcen { width: 75%; } .VMwrap { width: 80%; } .marquee-trial-content span { font-size: 20em; } .marquee-trial-content-II span { font-size: 20em; } .screen-view:hover ~ .marquee-trial {transform: translateY(-5em) rotate(-20deg);} .screen-view:hover ~ .marquee-trial-II {transform: translateY(5em) rotate(-20deg);}}
@media (max-width: 500px) and (max-height: 800px) { .screen-view:hover ~ .marquee-trial {transform: translateY(1em) rotate(-20deg);} .screen-view:hover ~ .marquee-trial-II {transform: translateY(-1em) rotate(-20deg);} }


.content-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 10vw;
  transition: opacity .3s ease-out;
}

.content-section.right {
  justify-content: flex-end;
  text-align: right;
}

.content-section.left {
  justify-content: flex-start;
  text-align: left;
}

.content-inner {
  max-width: 500px;
  color: #fff;
}

.content-inner h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.content-inner p {
  font-size: 1.2rem;
  opacity: 0.8;
}

/* Footer */
.footer {
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  /*background: #000;*/
  color: #fff;
  text-align: center;
  padding: 2rem 2rem;
}

.footer h2 {
  position: relative;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.footer h2 span{
  color: #000;
  font-weight: lighter;
  position: absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  font-family:'Heisenberg';
  font-size: 5rem;
}

@media (max-width: 2000px) {  }
@media (max-width: 1000px) { .content-section {flex-direction: column;} .content-section.right, .content-section.left{text-align: center;} .content-section.left{justify-content: flex-end;} .content-section.last{justify-content: center;} .content-inner h2 {font-size: 3rem;} .content-inner p {font-size: 1rem;} .footer{padding: 6rem 2rem;} .footer h2{font-size: 3rem;} .footer p {font-size: .8rem;} }

/* ========== MENU MENU MENU ========== */
@font-face{font-family:'LEMONMILK-Regular';src:url('./assets/LEMONMILK-Regular.otf') format('opentype');font-display:swap;}
@font-face { font-family: 'American'; src: url('./assets/American\ Captain.otf') format('opentype'); font-display: swap;}
@font-face{font-family:'Heisenberg';src:url('./assets/Heisenberg.otf') format('truetype');font-display:swap;}
 
.menu-toggle{position:fixed;top:20px;left:50%;transform:translate(-50%,0%);width:fit-content;height:60px;background-color:transparent;border-radius:0em;cursor:pointer;z-index:12;overflow:visible;transition:width .5s cubic-bezier(.19,1,.22,1),background-color .4s ease,color .4s ease,box-shadow .4s ease;transform-origin:right;}
.menu-toggle.closed{animation:menuPulse 3s ease-in-out infinite;}
.menu-toggle.opened{width:100px;animation:none;}
.menu-copy{position:relative;top:50%;left:10px;transform:translateY(-50%);color:#eee;z-index:2;transition:left .5s cubic-bezier(.19,1,.22,1),opacity .2s ease-in;}
.menu-toggle:hover .menu-copy{left:5px;}
.menu-toggle.opened .menu-copy{opacity:0;left:5px;}
.menu-copy p{margin:0;padding:0;font-family:'American','Morbid','LEMONMILK-Regular','Roboto',sans-serif;font-weight:300;font-size:4rem;letter-spacing:3px;color: #000;-webkit-text-stroke:1px #fff;text-shadow:-2px -2px 0 #000,2px -2px 0 #000,-2px 2px 0 #000,2px 2px 0 #000,0px 2px 0 #000,2px 0px 0 #000,-2px 0px 0 #000,0px -2px 0 #000;}
.menu-bg{position:absolute;inset:0;z-index:1;filter:url(#HoverDistort-max);}
.menu-bg::before{content:'';position:absolute;top:46%;bottom:46%;left:-1em;right:1em;background-color:#fff;transform-origin:center right;transform:scaleX(0);transition:transform .25s ease-in-out;filter:url(#HoverDistort) drop-shadow(0 0 10px #fff);}
.menu-toggle:hover .menu-bg::before{transform:scaleX(1);transform-origin:center left;}
.menu-toggle-icon{position:absolute;left:50%;transform:translateX(-50%);width:60px;height:60px;border-radius:100%;background-color:transparent;overflow:hidden;z-index:10;clip-path:circle(10% at 50% 50%);transition:all .5s cubic-bezier(.19,1,.22,1);}
.menu-toggle:hover .menu-toggle-icon{clip-path:circle(38% at 50% 50%);}
.menu-toggle.opened .menu-toggle-icon{clip-path:circle(50% at 50% 50%);transform:scale(1.15) translateX(-50%);}
.hamburger{position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);width:30px;height:30px;display:flex;justify-content:center;align-items:center;opacity:0;transition:all .6s cubic-bezier(.19,1,.22,1);}
.menu-toggle:hover .hamburger,.menu-toggle.opened .hamburger{top:50%;opacity:1;}
.menu-bar{position:absolute;width:22px;height:2px;background:#eee;transition:all 250ms ease-out;opacity:0;}
.menu-bar[data-position="top"]{transform:translateY(-4px);}
.menu-bar[data-position="bottom"]{transform:translateY(4px);}
.menu-toggle.opened .menu-bar[data-position="top"]{transform:translateY(0) rotate(45deg) scaleX(1.1);background:#000;opacity:1;}
.menu-toggle.opened .menu-bar[data-position="bottom"]{transform:translateY(0) rotate(-45deg) scaleX(1.1);background:#000;opacity:1;}
.menu-toggle.closed .menu-bar[data-position="top"],.menu-toggle.closed .menu-bar[data-position="bottom"]{opacity:0;}

.menu {position:fixed;top:0;left:0;width:100vw;height:100vh;display:flex;background-color:#eee;clip-path:polygon(0% 100%,100% 100%,100% 100%,0% 100%);pointer-events:none;transform-style:preserve-3d;perspective:1000px;z-index:11;}
.col-1 {flex:1;}
.col-2 {flex:1;}
.col {position:relative; height:100%; padding:10em 2em 2em 2em; display:flex; flex-direction:column; justify-content:space-between; align-items:flex-end;}
.col-2 {display:flex;flex-direction:column;justify-content:flex-end;align-items:center; gap: 50px;}
.link {position:relative;transform:translateY(30px);opacity:0;}
.link a {text-decoration:none;color:#000;font-size:48px;font-weight:300;letter-spacing:-1.5px;line-height:125%;}
.video-wrapper {width:100%;aspect-ratio:16/9;background-color:#111;clip-path:polygon(0% 100%,100% 100%,100% 100%,0% 100%);overflow:hidden;padding:.2em;}
.video-wrapper video {width:100%;height:100%;object-fit:cover;}
.socials {width:33%;display:flex; justify-content: center; gap:2em;}
.socials .sub-col {flex:1;}
.socials .sub-col p {position:relative;color:#000;transform:translateY(30px);opacity:0;text-transform:uppercase;font-family:'LEMONMILK-Regular','Roboto',sans-serif;font-size:12px;font-weight:400;}
.header {position:relative; height: fit-content;/* right:5vw; bottom:2vw; height:25vh;*/}
.header h1 {color:#fff; /*text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;*/ text-transform:uppercase;font-family:'LEMONMILK-Regular','Roboto',sans-serif;font-size:300px;font-weight:bolder;line-height:100%;height:400px;}
.header h1 span {position:relative;display:inline-block;transform:scale(0.75) translateY(500px) rotateY(90deg);transform-origin:bottom;}
#signa { position:absolute;top:50%;left:50%;transform:translate(-50%,-50%); color:#000; font-family:'Heisenberg', 'LEMONMILK-Regular','Roboto',sans-serif;font-size:250px;font-weight:lighter;}
@media (max-width:1000px) {.col-1 {flex:2;align-items:flex-start;}.link a {font-size:30px;}.video-wrapper {padding:0.2em;}.socials {width:100%;flex-direction:column;gap:8em;}.header h1 {font-size:150px;height:120px;}}

.menu-wrap {display:flex;flex-direction:column;width:100vw;height:fit-content;position:absolute;justify-content:start;top:10em;z-index:12;}
.menu__item {cursor:default;position:relative;overflow:hidden;text-align:center;box-shadow:0 -1px #111;}
.menu__item:last-child {box-shadow:0 1px #111,0 -1px #111;}
.menu__item-link {display:block;position:relative;cursor:pointer;text-decoration:none;}
.menu__item-link:focus,.menu__item-link:focus-visible {color:#CE1F26;}
.menu__item-link:focus:not(:focus-visible) {color:#111;}
.marquee {position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;pointer-events:none;background:#000;transform:translate3d(0,101%,0);}
.marquee__inner-wrap {height:100%;width:100%;transform:translate3d(0,-101%,0);}
.marquee__inner {height:100%;width:fit-content;align-items:center;display:flex;position:relative;animation:marquee 30s linear infinite;will-change:transform;}
@keyframes marquee {to {transform:translate3d(-50%,0,0);}}
.marquee span,.menu__item-link {white-space:nowrap;font-size:2vw;line-height:1.2;font-weight:600;padding:1vh 1vw 0;text-transform:uppercase;}
.marquee span {text-align:center;color:#fff;font-size: 1vw; font-weight:900; letter-spacing: 10px;}
.marquee__img {width:15vw;height:70%;margin:0 2vw;border-radius:5vw;background-size:cover;background-position:50% 50%;}
@media screen and (min-width:53em) {.menu-wrap {height:fit-content;}}
a {text-decoration:none;color:#111;outline:none;}
a:hover,a:focus {color:#000;outline:none;}

@media(max-width: 2000px) { .menu-wrap {top: 6em;} .col-2 {gap: 10px;} .header h1 {font-size:150px; height: 300px;} #signa {font-size: 150px;} .video-wrapper {width:90%;}}
@media(max-width: 1300px) { .header { height: 20vh; bottom: 0vw;} .header h1 {font-size:100px; height: 100px;} .col {padding: 15em 2em 2em 2em;} .col-2 {align-items:center;} }
@media (max-width:1000px) { .menu-copy p {font-size: 3rem;} .col {width: 90vw; height: 50%; } .menu-wrap { top:6em; } .marquee span,.menu__item-link {font-size:5vw;line-height:2;} .col-1 {position: absolute; bottom:15%; left:50%; transform:translateX(-50%); padding:0em 0em 0em 0em;} .col-2 {height: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 5vh; position: absolute; bottom:50%; left:50%; transform:translate(-50%,50%); padding:0em 0em 0em 0em;} .header {position: relative; height: fit-content;} .header h1 {font-size:66px;height:66px;} .socials {gap:4em;flex-direction:row;} .header {display: none;} .video-wrapper {width:100%;}}
@media (max-width: 500px) and (max-height: 800px) { .col {width: 80vw; height: 50%; } .menu-wrap { top:4em; } .marquee span,.menu__item-link {font-size:4vw;line-height:2;} .menu-toggle{top: 10px;} .col-1 {bottom:12%;} .header {display: none;} }

/* Loader CSS */
/* New Loading Experience */
.loading { position: fixed;width: 100vw;height: 100vh;overflow: hidden !important; inset: 0; z-index: 9999; display: flex; flex-direction: column; align-items: center; justify-content: center; background: transparent; /* Panels handle the color */ }
.shutter-top, .shutter-bottom { pointer-events: none; position: absolute; left: 0; width: 100%; height: 50.5%; /* Slight overlap to prevent cracks */ background: #000; /* Sophisticated black */ z-index: -1; overflow: hidden;}
.shutter-top { top: 0; /*border-bottom: 1px solid transparent;*/ }
.shutter-bottom { bottom: 0; /*border-top: 1px solid transparent;*/ }
/*
.shutter-top::before, .shutter-bottom::before {content: ''; position: absolute; top: -100%; left: -50%; width: 300%; height: 300%; background-image: url(./assets/noiseII.png); opacity: 1; animation: grain 3s steps(10) infinite; z-index: -1;}
@keyframes grain {0%,100% {transform: translate(0,0);} 10% {transform: translate(-5%,-10%);} 20% {transform: translate(-15%,5%);} 30% {transform: translate(7%,-25%);} 40% {transform: translate(-5%,25%);} 50% {transform: translate(-15%,10%);} 60% {transform: translate(15%,0%);} 70% {transform: translate(0%,15%);} 80% {transform: translate(3%,35%);} 90% {transform: translate(-10%,10%);}}
*/
.load-counter { pointer-events: none; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); font-family: 'American', 'LEMONMILK-Bold', sans-serif; font-size: 50rem; color: #000;-webkit-text-stroke:5px #fff; letter-spacing: 5px; text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff; }
.load-status { pointer-events: none; position: absolute;top: 7%;left: 50%;transform: translate(-50%, -50%); width: 100%; font-family: 'LEMONMILK-Regular', sans-serif; font-size: 1rem; color: #fff; text-shadow: 0 0 15px #fff; text-align: center; margin-top: 10px; letter-spacing: 10px; text-transform: uppercase; }
.load-bar-container { pointer-events: none; width: 90%; height: 5px; background: transparent; margin-top: 20px; position: absolute;top: 2%;left: 50%;transform: translate(-50%, -50%); }
.load-bar { position: absolute; width: 0%; height: 100%; border-radius: 50%; background: #fff; box-shadow: 0 0 10px #fff; }
/* Hide main elements for the reveal */
.marqueecontainer, .logo-glitch-wrapper, .we, .tv-wrapper, .pulse-circles { opacity: 0; visibility: hidden; }
@media(max-width: 1000px) { .loading-circle {width: 90vw;} .load-counter { font-size: 20rem; top: 50%;} .load-status { top: 10%; font-size: 1rem; letter-spacing: 1px; } .load-bar-container {top: 6%;} }
