article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{--webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{--webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

@font-face{font-family:'LEMONMILK-Regular';src:url('../../assets/LEMONMILK-Regular.otf') format('opentype');font-display:swap;}
@font-face { font-family: 'American'; src: url('../../assets/American\ Captain.otf') format('opentype'); font-display: swap;}

body {
	--color-text: #000;
	--color-bg: #eee;
	--color-link: #000;
	--color-link-hover: #CE1F26;
	--color-blocklink: #000;
	--color-blocklink-hover: #000;
	--color-blocktitle: #000;
	--color-blocktitle-hover: #CE1F26;
	--color-text: #000;
	font-family: 'LEMONMILK-Regular', sans-serif;
	min-height: 100vh;
	color: #000;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

#grid-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

/* HEADER */
.header {background-color: transparent; position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center; width: 100vw; height: 300px; border-bottom: 2px solid transparent; transition: height 0.3s ease; overflow: hidden;}
.header {position: sticky; top: 0; z-index: 100;}
.header.active {height: 150px; border-bottom: 2px solid #000;}

.skull {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 160px; height: 160px; z-index: 10; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.skullcen {position: absolute; width: 100%; height: auto; z-index: 3;}
.VMwrap {position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; z-index: 2; pointer-events: none;}
.VMcen {width: 140%; height: auto;}
.flameI, .flameII {position: absolute; top: 64%; width: 60%; height: auto; transform: translateY(-50%); pointer-events: none; opacity: 0; transition: opacity 0.3s ease; z-index: 4;}
.flameI {left: -48%; transform: translateY(-50%) rotate(-90deg);}
.flameII {right: -48%; transform: translateY(-50%) rotate(90deg);}
.skullcen:hover ~ .flameI, .skullcen:hover ~ .flameII {opacity: 1;}

.menu {background-color: #CE1F26; display: flex; justify-content: space-around; align-items: center; width: 100%; height: 100%; z-index: 5; overflow: hidden; opacity: 0; transition: transform .5s ease-in-out, opacity .5s ease;}
.menu::before {content: ''; position: absolute; top: -100%; left: -50%; width: 300%; height: 300%; background-image: url(../../assets/noiseII.png); opacity: 1; animation: grain 3s steps(10) infinite; z-index: -1;}
@keyframes grain {0%,100% {transform: translate(0,0);} 10% {transform: translate(-5%,-10%);} 20% {transform: translate(-15%,5%);} 30% {transform: translate(7%,-25%);} 40% {transform: translate(-5%,25%);} 50% {transform: translate(-15%,10%);} 60% {transform: translate(15%,0%);} 70% {transform: translate(0%,15%);} 80% {transform: translate(3%,35%);} 90% {transform: translate(-10%,10%);}}
.header.active .menu {opacity: 1;}
.logo {position: relative; font-family: 'LEMONMILK-Regular', 'American', sans-serif; font-size: 2rem; font-weight: bolder; color: #fff; text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black, 2px  2px 0 black; letter-spacing: 0px; text-decoration: none; transition: 0.3s;}
.logo:hover {color: #000; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px  1px 0 white, 1px  1px 0 white;}
.logo {position: relative; z-index: 1;}
.logo::before {content: ''; position: absolute; z-index: -1; top: 33%; bottom: 33%; left: -0.25em; right: -0.25em; background-color: #000; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;}
.logo:hover::before {transform: scaleX(1); transform-origin: center left;}
.current {color: #000; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px  1px 0 white, 1px  1px 0 white; pointer-events: none; text-decoration: line-through;}
.ozero {opacity: 0;}
.mob-menu {display: none !important;}
.mb {visibility: hidden !important;}

/* ------------------ MOBILE HEADER ------------------ */
@media (max-width: 1920px) {
  .header.active {height: 150px;}
  .skull { width: 150px; height: 150px;}
  .logo { font-size: 1.5rem; }
}
@media (max-width: 1280px) {
  .header.active {height: 100px;}
  .skull { width: 100px; height: 100px;}
  .logo { font-size: 1rem; }
}
@media (max-width: 768px) {
  .cursor {display: none !important;}
  .header {position: sticky; height: 200px;}
  .header.active {height: 150px; border-bottom: 2px solid transparent;}
  .skull {width: 100px; height: 100px;}
  .menu {display: none !important;}
  .current {-webkit-text-stroke: 0px transparent;}
}

/* ------------------ MOBILE MENU ------------------ */
.mb {color: #fff; background-color: #000; display: flex; justify-content: center; align-items: center;  text-align: center; position: fixed; top: 50%; right: -1%; transform: translateY(-50%); width: 10%; height: 10%; z-index:101; overflow: hidden; transition: transform 1s ease-in-out;}
.mb span {transform: rotate(-90deg);}
.mb span::after { content: ""; position: absolute; left: -10%; right: -10%; top: 50%; height: 2px; background: white; transform: scaleX(0); transform-origin: center; transition: transform 0.3s ease-in-out; } 
.mb.open span::after { transform: scaleX(1); }
.mob-menu {background-color: #CE1F26; display: flex; flex-direction: column; justify-content: center; align-items: center;  text-align: center; position: fixed; top: 50%; left: 100%; transform: translateY(-50%); width: 80%; height: 60%; z-index:102; overflow: hidden; border: 4px solid black; transition: transform .5s ease-in-out;}
.mob-menu::before {content: ''; position: absolute; top: -100%; left: -50%; width: 300%; height: 300%; background-image: url(../../assets/noiseII.png); opacity: 1; animation: grain 3s steps(10) infinite; z-index: -1;}
@keyframes grain {0%,100% {transform: translate(0,0);} 10% {transform: translate(-5%,-10%);} 20% {transform: translate(-15%,5%);} 30% {transform: translate(7%,-25%);} 40% {transform: translate(-5%,25%);} 50% {transform: translate(-15%,10%);} 60% {transform: translate(15%,0%);} 70% {transform: translate(0%,15%);} 80% {transform: translate(3%,35%);} 90% {transform: translate(-10%,10%);}}
.mob-menu-inner { display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%; /* fills mob-menu container */ }
.mob-logo {position: relative; font-family: 'LEMONMILK-Regular', 'American', sans-serif; font-size: 2rem; font-weight: bolder; color: #fff; text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black, 2px  2px 0 black; letter-spacing: 2px; text-decoration: none; transition: 0.3s;}
.mob-logo:hover {color: #000; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px  1px 0 white, 1px  1px 0 white;}
.mob-logo {position: relative; z-index: 1;}
@keyframes floatLinks { 0%,100% { transform: translateY(0); } 50% { transform: translateY(-6px); } }
.mob-logo::before {content: ''; position: absolute; z-index: -1; top: 33%; bottom: 33%; left: -0.25em; right: -0.25em; background-color: #000; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;}
.mob-logo:hover::before {transform: scaleX(1); transform-origin: center left;}
.crnt {color: #000; text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px  1px 0 white, 1px  1px 0 white; pointer-events: none; text-decoration: line-through;}
@media (max-width: 768px) {
  .mob-menu {display: block !important;}
  .mb {visibility: visible !important;}
}
@media (max-width: 768px) and (max-height: 800px) {
  .mob-logo { font-size: 1.5rem; }
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
}

button:focus,
a:focus {
	outline: none;
}

main {
	position: relative;
	width: 100vw;
	min-height: 100vh; /* changed from fixed height */
    display: flex;
	flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block {
	/*text-transform: lowercase;*/
	padding: 1rem 2rem 1rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: fit-content;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #fff;
}

.block__title, .block a {
	position: relative;
	font-size: 3rem;
	margin: 0 0 .5rem 0;
	padding: 0 0;
	cursor: pointer;
	font-family: 'LEMONMILK-Regular', 'Roboto', sans-serif;
	font-weight: 800;
	color: var(--color-blocktitle);
	text-align: center;
	user-select: none; -webkit-user-select: none;/* Safari */ -moz-user-select: none;/* Firefox */ -ms-user-select: none;/* IE/Edge */
}

.PLAY { position: relative; display: inline-block; font-size: 4rem; font-weight: bold; color: #000; text-decoration: none; overflow: hidden; }
/*.PLAY::before { content: ''; position: absolute; z-index: 1; top: 33%; bottom: 33%; left: -0.25em; right: -0.25em; background-color: #ffa666; border: 3px solid #000; filter: url(#pDistort); animation: fullSweep 2s ease-in-out infinite; transform: scaleX(0); transform-origin: left; }*/
.play-text { position: absolute; top: 33%; bottom: 33%; left: -5.25em; right: -5.25em; display: flex; align-items: center; justify-content: center; font-size: 1rem; z-index: 2; color: #000; background-color: #CE1F26; /*border: 3px solid #000;*/ animation: reverseSweep 3s ease-in-out infinite; transform: scaleX(0); transform-origin: right; overflow: hidden; /*filter: url(#pDistort);*/ }
@keyframes reverseSweep { 0% { transform-origin: right; transform: scaleX(0); } 33.333% { transform-origin: right; transform: scaleX(1); } 33.334% { transform-origin: left; transform: scaleX(1); } 66.666% { transform-origin: left; transform: scaleX(0); } 100% { transform-origin: left; transform: scaleX(0); } }
/*
.play-text { opacity: 0; animation: fullSweepFade 2s ease-in-out infinite; }
@keyframes fullSweepFade { 0%, 100% { opacity: 0; transform: scaleX(0); transform-origin: left; } 33.333% { opacity: 1; transform: scaleX(1); transform-origin: left; } 33.334% { transform-origin: right; } 66.666% { opacity: 1; transform: scaleX(0); transform-origin: right; } }
*/
.block__title:hover {
	color: #CE1F26;
}

.block__title span{
	display: inline-block;
	white-space: pre;
}

.block[data-fx="6"] a::after,
a.content__text-link[data-fx="6"]::after {
	content: '';
	z-index: -1;
	width: 100%;
	bottom: 0.25rem;
	left: 0;
	position: absolute;
	height: 2px;
	background: currentColor;
	transform: scale3d(0,1,1);
	transform-origin: 100% 50%;
	transition: transform 0.7s cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

a.content__text-link[data-fx="6"]::after {
	bottom: 0;
}

.block[data-fx="6"] a:hover::after,
a.content__text-link[data-fx="6"]:hover::after {
	transform: scale3d(1,1,1)
}

.hover-reveal {
	position: fixed;
	width: 250px;
	height: 150px;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100%;
	position: relative;
}

.hover-reveal__deco {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #CE1F26;
	/*border: 2px solid #000;*/
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}

@media (max-width: 500px) {
  .hover-reveal {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: auto !important;
    bottom: 20px !important; /* or use top: 50% if you want it vertically centered */
    position: fixed !important; /* ensures it stays in place */
  }
}



.footer{position:relative;display:flex;flex-direction:column;flex-wrap:wrap;align-items:center;width:100%; background:#fff;color:#000;border-top: 1px solid #000; padding:0 0 1rem;}.footer a{color:#000;text-decoration:none;margin:0 1rem;}.foot-link{display:flex; /*flex-direction:column;*/ justify-content: space-around; width: 100%;}.foot-link a{display:flex;justify-content:space-around;align-items:center;width:100%;padding:0.5em;/*margin:0.5rem;*/border-radius:1rem;color:#000;text-decoration:none;}.foot-copy{width:100%;text-align:center;margin:0rem 0;font-size:10rem;letter-spacing:-2px;line-height:0.9em;}
.linethrough{margin-bottom: 3px; width: 100vw; display:flex; justify-content: space-around;} .linethrough a{text-decoration:line-through;} .top-plus{margin-top:0;} .tm{font-family:'Noto Sans KR',sans-serif;}
.foot-link-II span {position: relative; z-index: 1; font-size:2rem;}.foot-link-II span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #CE1F26; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;} .foot-link-II span:hover::before { transform: scaleX(1); transform-origin: center left;}
.foot-link-III span {position: relative; z-index: 1; font-size:1vw;}.foot-link-III span::before {content: ''; position: absolute; z-index: -1; top: 0; bottom: 0; left: -0.25em; right: -0.25em; background-color: #CE1F26; transform-origin: center right; transform: scaleX(0); transition: transform 0.2s ease-in-out;} .foot-link-III span:hover::before { transform: scaleX(1); transform-origin: center left;}
.foot-link-II span:hover {color: #000;}
.foot-link-III span:hover {color: #000;}

@media screen and (min-width: 53em) {
	.block {
		align-items: center;
	}
	.content {
		position: relative;
		/*display: grid;
		grid-template-columns: repeat(6,16.16%);*/
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		gap: 20px;
		margin: 0 auto;
		padding-top: 0vh;
		min-width: 80vw;
		height: fit-content;
		text-align: left;
	}
}

@media only screen and (max-device-width: 500px){

	.text-container{top: 1%;}
	.socialsII{font-size: 1.5rem; margin: 0 5px;}
	.title{ font-size: 0.5rem; }
	.block{	flex-direction: column; }
	.block__title{ font-size: 1.5rem; }
	.block a { font-size: 1.5rem; }
	.foot-link { flex-direction: column; }
	.foot-copy { font-size: 5rem; }
	.footer a { margin: 0 0; }
	.foot-link-III span { font-size: 1rem; }
	.content { padding-top: 0vh; }
	.play-text { position: absolute; top: 20%; bottom: 20%; left: -5.25em; right: -5.25em; font-size: 1rem; animation: reverseSweep 3s ease-in-out infinite;}
}
@media (max-width: 480px) {
    .navbar a {
        font-size: 0.9rem;
    }
	.text-container{ top: 3%; }
}
@media screen and (max-width: 768px) {
    .foot-copy {
        font-size: 2rem; /* Adjust to fit small screens */
        letter-spacing: -1px;
    }

    .linethrough {
        width: 100%; /* Avoid using 100vw to prevent horizontal overflow */
    }

    .foot-link {
        flex-direction: column; /* Stack links vertically for mobile */
        align-items: center;
    }

    .foot-link a {
        width: auto; /* Prevent full-width stretching */
        text-align: center;
    }
	.foot-link-II span {
		font-size: 3vw;
	}

    .foot-link-III span {
        font-size: 3vw; /* Use a relative unit that scales better */
    }
	html, body {
        max-width: 100vw;
        overflow-x: hidden; /* Force prevent horizontal scroll */
    }
}

/* Loader CSS */
.loading{display:flex;align-items:center;justify-content:center;position:fixed;top:0;right:0;bottom:0;left:0;z-index:110;background:#CE1F26;opacity:0;transition:0.5s;}
.loading::before {content: ''; position: absolute; top: -100%; left: -50%; width: 300%; height: 300%; background-image: url(../../assets/noiseII.png); opacity: 1; animation: grain 3s steps(10) infinite; z-index: -1;}
@keyframes grain {0%,100% {transform: translate(0,0);} 10% {transform: translate(-5%,-10%);} 20% {transform: translate(-15%,5%);} 30% {transform: translate(7%,-25%);} 40% {transform: translate(-5%,25%);} 50% {transform: translate(-15%,10%);} 60% {transform: translate(15%,0%);} 70% {transform: translate(0%,15%);} 80% {transform: translate(3%,35%);} 90% {transform: translate(-10%,10%);}}
.before-load .loading{opacity:1;}
.load-skull {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 160px; height: 160px; z-index: 10; display: flex; align-items: center; justify-content: center; cursor: pointer; pointer-events: none;}
.load-skullcen {position: absolute; width: 100%; height: auto; z-index: 3;}
.load-VMwrap {position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; z-index: 2; pointer-events: none;}
.load-VMcen {width: 140%; height: auto;}
.load-flameI, .load-flameII {position: absolute; top: 64%; width: 60%; height: auto; transform: translateY(-50%); pointer-events: none; opacity: 1; transition: opacity 0.3s ease; z-index: 4;}
.load-flameI {left: -48%; transform: translateY(-50%) rotate(-90deg);}
.load-flameII {right: -48%; transform: translateY(-50%) rotate(90deg);}
.load-VMwrap { animation: spin 5s linear infinite; }
@keyframes spin { from { transform: rotate(0deg); } to   { transform: rotate(-360deg); } }
